.box {
  background: #3366FF;
  height: 20px;
  width: 20px;
  margin-left: 1px;
  margin-top: 1px;
  float: left;
}

.row {
  float: left;
  clear: both;
}

.apple {
  background: green;
}

.snake {
  background: red;
}
